{% extends "layouts/master.twig" %}

{% block content %}
  	<div class="march-2015-splash">

  		<div class="social-bar show-for-medium-up">
  			<div class="row">
  				<div class="columns small-12">
  					<ul class="inline-list quicklinks__list right splash">
  						<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
  						<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
  						<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
  						<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<!-- end .social-bar -->

  		<div class="logos-bar">
  			<div class="row">
  				<div class="small-10 columns small-centered columns medium-6">
  					<img src="../img/us_ignite-geni-nsf.png" />
  				</div>
  			</div>
  		</div>
  		<div class="header-image"></div>

  		<div class="row">
  			<div class="columns small-12">
  				<h1 class="event-title">Beyond Today's Internet: Experiencing a Smart Future!</h1>
  			</div>

  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<h2 class="event-subtitle">
  					Join <a href="https://us-ignite.org/">US Ignite</a> and <a href="http://www.geni.net/ ">GENI</a> March 23-27 in Washington, DC to experience the future of the Internet and the next-generation applications it enables.
  				</h2>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<p class="center">
  					US Ignite and GENI, with the help of our partners at the National Science Foundation and Mozilla Foundation, will showcase new applications running on deeply programmable cyberinfrastructure that transcends the current Internet and has the potential to completely transform how we live, work, learn, and play.

  				</p>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 center">
  				<a href="https://www.regonline.com/Register/Checkin.aspx?EventID=1649371" class="button register">Register</a>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="tabs-container row show-for-medium-up">
  					<div class="tab-bar">
  						<a href="#" class="active columns small-2" data-section="overview">Overview</a>
  						<a href="#" class=" columns small-2" data-section="agenda">Agenda</a>
  						<a href="#" class="columns small-2" data-section="hotels">Travel/Hotel</a>
  						<a href="#" class=" columns small-2" data-section="partners">Partners</a>
  						<a href="#" class="columns small-2" data-section="speakers">Speakers</a>
  						<a href="#" class=" columns small-2" data-section="demos">Demos</a>
  					</div>
  					<!-- end .tab-bar -->
  					<div class="tab-content">
  						<div data-section-name="overview" class="active">
  							
  							<p>
			  					The Beyond Today's Internet: Experiencing a Smart Future event gives developers, industry, communities, government, foundations and universities working with GENI, software defined networks (SDN), cloud computing and gigabit networks a place to gather, learn and showcase their work. As these new technologies become a cornerstone of next-generation application development there’s a lot of new information to learn and share. The best way to learn is to spend time with people who are actually working with these new technologies and inventing ways to apply them to new products and services.
			  				</p>

			  				<p>
			  					During the event, you will experience first-hand demos of next-generation applications run on this new technology. Learn from engaging keynotes, tutorials, tech presentations, and workshops lead by visionaries in the field. Hear from community and technical leaders highlighting recent case studies, success stories, and best practices.

			  				</p>
			  				

			  				<h4> Why You Should Attend:</h4>
			  				<ul>
			  					<li>1.5 days for GENI tutorials</li>
			  					<li>One day of in-depth panels and discussions focused on technology, application development and communities.</li>
			  					<li>Two days of keynotes and sessions that explore US Ignite technology, real-world case studies, and best practices</li>
			  					<li>Two days of demo showcases highlighting current application in production or newly released</li>
			  					<li>Networking opportunities with hundreds of other US Ignite and GENI developers, industry, communities, foundations and universities</li>
			  					<li>Highlights from US Ignite and GENI communities, agencies and universities on the impact and implementation process of new technologies</li>
			  					<li>Fun evening receptions providing opportunities for more face time with attendees and presenters</li>
			  				</ul>

			  				<h4>Who is the Event for:</h4>
			  				<p>
			  					The event is for individuals and organizations who work with next-generation technologies including software defined networking, local clouds and gigabit to end-user. If you are an application developer, university researcher, US Ignite community, foundation, corporation or government agency with a focus on advanced technologies, the Smart Future Summit is for you.
			  				</p>
			  				<p>
								The program has been carefully designed to offer value to all experience levels, from students to senior researchers, software architects, network engineers and senior management. We look forward to having you join for this exciting event. 
							</p>
			  				

			  				

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="agenda" >
  							<!--
  							<h3>We will be adding a detailed agenda shortly.</h3>
  							
  							<br>
  							<p>
			  					Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>
			  				-->

			  				<div class="row agenda-content">
			  					<div class="small-12 medium-8 medium-centered columns">

				  					<div class="center">
			  							<h3 class="date">Wednesday, March 25th</h3>
			  							<div class="address">
				  							Hilton Crystal City<br>
				  							2399 Jefferson Davis Hwy<br>
				  							Arlington, VA
			  							</div>
			  						</div>
		  							<div class="time ">8:30 AM</div>

		  							<h4>Welcome</h4>
			  						<ul>
			  							<li>
			  								Mark Berman, Project Director, GENI Program Office
			  							</li>
			  							<li>
			  								Glenn Ricart, CTO, US Ignite

			  							</li>
			  							<li>
			  								Leo Chalupa, Vice President for Research, George Washington University

			  							</li>
			  						</ul>

			  						<h4>Perspectives</h4>
			  						<ul>
			  							<li>
			  								Tom Kalil, Deputy Director for Technology and Innovation, White House Office of Science and Technology Policy

			  							</li>
			  							<li>
			  								France Córdova, Director of the National Science Foundation

			  							</li>
			  							<li>
			  								Matt Erskine, U.S. Deputy Assistant Secretary of Commerce for Economic Development

			  							</li>
			  							<li>
			  								Richard Culatta, Director, Office of Educational Technology, U.S. Department of Education

			  							</li>
			  						</ul>

			  						<h4>The Changing Face of Cyberinfrastructure</h4>
			  						<ul>
			  							<li>
			  								Mark Berman, Project Director, GENI Program Office
			  							</li>
			  							
			  						</ul>

			  						<h4>Beyond Today’s Applications</h4>
			  						<ul>
			  							<li>
			  								Glenn Ricart, Chief Technology Officer, US Ignite

			  							</li>
			  							
			  						</ul>

			  						<h4>Demonstrations</h4>
			  						
			  						<h4>Education Focus: Mars Rover Game in the Mathematics Classroom</h4>
			  						<ul>
			  							<li>
			  								Leslye Arsht, StandardsWork, Inc. 
			  							</li>
			  							<li>
			  								Mark Torpey, Lockheed Martin

			  							</li>
			  							<li>
			  								Rob Chadwick, Advanced Distributed Learning Co-Lab

			  							</li>
			  							<li>
			  								Vicraj Thomas, GENI Project Office

			  							</li>
			  						</ul>


			  						<h4>Public Safety Focus: Connected Vehicles Assisting First Responders</h4>
			  						<ul>
			  							<li>
			  								Suman Banerjee, University of Wisconsin

			  							</li>
			  							<li>
			  								Dipankar Rachaurdhuri, Rutgers University


			  							</li>
			  							
			  						</ul>

			  						<h4>Plenary 1 Closing</h4>
			  						<ul>
			  							<li>
			  								James Kurose, Assistant Director of NSF for Computer and Information Science and Engineering (CISE)

			  							</li>
			  							
			  						</ul>
					  				
			  						<div class="time ">10:30am - 11:00am</div>

		  							<h4>Networking Break</h4>
			  						
			  						<div class="time ">11:00am</div>

		  							<h4>Ambient Demos: Living in the Future</h4>
			  						<ul>
			  							<li>
			  								Niky Riga, GENI Project Office
			  							</li>
			  							<li>
			  								GENI Cinema, Ryan Izard, Clemson University
			  							</li>
			  							<li>
			  								On the Same Page, Aki Nakao, University of Tokyo
			  							</li>
			  						</ul>

			  						<h4>Software Defined Exchanges and Infrastructure (SDX & SDI)</h4>
			  						<ul>
			  							<li>
			  								Lawrence Landweber, University of Wisconsin & GENI Project Office
			  							</li>
			  							<li>
			  								Tom Lehman, MAX Gigapop, University of Maryland
			  							</li>
			  							<li>
			  								Brecht Vermeulen, iMinds / University of Ghent

			  							</li>
			  						</ul>

			  						<h4>Science DMZ as a Service: Creating Science Super-Facilities with GENI</h4>
			  						<ul>
			  							<li>
			  								Inder Monga, Energy Sciences Network
			  							</li>
			  							<li>
			  								Ilya Baldin, Renaissance Computing Institute, University of North Carolina at Chapel Hill
			  							</li>
			  						</ul>

			  						<h4>Picturing Pollution Globally and Locally</h4>
			  						<ul>
			  							<li>
			  								David Lary, University of Texas at Dallas
			  							</li>
			  							<li>
			  								Rick McGeer, SAP & US Ignite

			  							</li>
			  						</ul>

			  						<h4>Predicting a Storm’s Landfall and Impact</h4>
			  						<ul>
			  							<li>
			  								Paul Ruth, Renaissance Computing Institute, University of North Carolina at Chapel Hill
			  							</li>
			  							<li>
			  								Brian Blanton,  Renaissance Computing Institute, University of North Carolina at Chapel Hill

			  							</li>
			  						</ul>

			  						<div class="time ">12:15pm - 1:30pm</div>

		  							<h4>Lunch</h4>
			  						

			  						<div class="time ">1:30pm - 2:30pm</div>

		  							<h4>The Smart and Connected Future: Unleashing a New Era of Capabilities and Experiences</h4>
			  						<ul>
			  							<li>
			  								Steve Lohr, New York Times

			  							</li>
			  							<li>
			  								Joe Salvo, Director of the Industrial Internet Consortium
			  							</li>
			  							<li>
			  								Lev Gonick, CEO, OneCommunity

			  							</li>

			  							<li>
			  								Suzi Iacono, Deputy Assistant Director for CISE, National Science Foundation
			  							</li>
			  							<li>
			  								Craig Partridge, Chief Scientist, Ratheon BBN Technologies
			  							</li>
			  							
			  						</ul>
			  						<br>
			  						<br>
			  						<p>
			  							View full agendas for: <a href="https://us-ignite.org/smartfuture2015/">US Ignite</a>, <a href="http://groups.geni.net/geni/wiki/GEC22Agenda">GENI</a>, <a href="http://www.glif.is/meetings/2015/spring/">GLIF</a>, and <a href="https://www.ogf.org/ogf/doku.php/events/ogf-43">OGF</a>.
			  						</p>
					  			</div>
			  				</div>
			  				

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="hotels">
  							<h4>Venue and Logistics</h4>
  							<p>
			  					Get ready for panels/talks, demos and action when you join us for the Smart Future Summit in Washington, DC! 
			  				</p>
			  				
			  				<h4>Meeting Location</h4>
  							<p>
			  					We are partnering with GENI and George Washington University to host the Summit on the GWU campus in Washington, DC.
			  				</p>
			  				
			  				<h4>Hotel Information</h4>
  							<p>
			  					<strong>Hilton Crystal City Hotel at Washington Reagan National Airport</strong><br>
								Reservation can be made at this link: <a href="http://www.hilton.com/en/hi/groups/personalized/D/DCANAHF-GENI-20150322/index.jhtml?WT.mc_id=POG">Hilton Crystal City Hotel Room Reservation</a>
			  				</p>

			  				<p>
			  					A block of rooms has been reserved for March 22, 2015 - March 27, 2015.
			  				</p>

			  				<p>
			  					Address:<br>
								2399 Jefferson Davis HighwayArlington, Virginia, 22202<br>
								Tel: +1-703-418-6800
							</p>

			  				<h4>Travel Awards</h4>
			  				<p>Applications are now closed and all travel awards have been issued.</p>
  							<p>
			  					We have a very limited number of travel awards available for academics and students of US institutions who wish to attend the US Ignite Application Summit. Due to hotel availability and deadline, your travel grant applications should be submitted by February 6th, 2015. Travel grant applications may be reviewed after the deadline but acceptance will be based on funding availability. Applications received by February 6 will be reviewed by the GENI Project Office and US Ignite and will be notified by no later than February 13th, 2015. Learn more: <a href="http://www.geni.net/wp-content/uploads/2015/01/Travel-Grant-Application-Instructions-GEC-22.docx">http://www.geni.net/wp-content/uploads/2015/01/Travel-Grant-Application-Instructions-GEC-22.docx</a>
			  				</p>

			  				<h4>Transportation</h4>
  							<p>
			  					Washington, DC is accessible from Baltimore, Dulles and Ronald Reagan National airports. Consider the cost of ground transportation when making your flight selections.
			  				</p>
			  				
  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="partners" >
  							<h3>Thank you to our partners, we could not hold the Smart Future Summit without you!</h3>

  							<div class="partners-grid">

								<a href="http://mozilla.org/" target="_blank" class="medium-4 small-6 columns"><img title="Mozilla" src="../img/mozilla.png" alt="Mozilla" ></a>


								<a href="http://orange.com" target="_blank" class="medium-4 small-6 columns end"><img title="Orange" src="../img/orange_logo.png" alt="Orange"></a>

								<a href="http://www.level3.com" target="_blank" class="medium-4 small-6 columns end"><img title="Level 3" src="../img/level_3.png" alt="Level 3"></a>

								<a href="http://www.caaren.org/" target="_blank" class="medium-4 small-6 columns end"><img title="Caaren" src="../img/caaren.png" alt="Caaren"></a>

								<a href="http://www.ciena.com/" target="_blank" class="medium-4 small-6 columns end"><img title="Ciena" src="../img/ciena.png" alt="Ciena"></a>

								<a href="http://www.matrixintegration.com/" target="_blank" class="medium-4 small-6 columns end"><img title="Matrix" src="../img/matrix.png" alt="Matrix"></a>

								<a href="http://www.gwu.edu/" target="_blank" class="medium-4 small-6 columns end"><img title="George Washington University" src="../img/gwu.png" alt="George Washington University"></a>

								<a href="http://www.cisco.com/" target="_blank" class="medium-4 small-6 columns end"><img title="Cisco" src="../img/cisco.png" alt="Cisco"></a>

								<a href="http://www.sap.com/" target="_blank" class="medium-4 small-6 columns end"><img title="Sap" src="../img/sap.png" alt="Sap"></a>
								
							</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="speakers">
  						
  							<p>
			  					We are adding speakers on a daily bases, so be sure to check back often to learn more about the exciting speakers at the Summit. 
			  				</p>

			  				{#
			  				<h4>Bruce Katz</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/katz.jpg" class="callout__image">
								</div>
				  				
				  				<p>
									Bruce J. Katz is a vice president at the Brookings Institution and founding director of the Brookings Metropolitan Policy Program. He is also co-author of The Metropolitan Revolution (Brookings Press, 2013), a distillation of his work on the emerging metropolitan-led "next economy" and its practitioners around the country working to produce more and better jobs driven by innovation, exports and sustainability.
				  				</p>
				  			</div>

				  			<h4>Blair Levin</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/levin.jpg" class="callout__image">
								</div>
				  				
				  				<p>
									Blair Levin is a nonresident senior fellow with the Metropolitan Policy Program. He serves as the executive director of Gig.U: The Next Generation Network Innovation Project, an initiative of three dozen leading research university communities seeking to support educational and economic development by accelerating the deployment of next generation networks. He also serves as an advisor to a variety of non-profits with a mission of deploying or using broadband technology to advance social progress, including Case Commons, Volo and the LEAD Commission. Levin also advises both privately held and public companies in the telecom and technology sectors.
				  				</p>
				  			</div>
							#}

							<h4>Mark Berman</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/berman.jpg" class="callout__image">
								</div>
				  				<p>
				  					Mark Berman is GENI Project Director. As Project Director, he has overall responsibility for GENI’s technical direction and successful implementation. Mark works with the GENI community, which spans dozens of universities, government and industry partners, to ensure that GENI is well designed, technically feasible, and satisfies its research requirements.
				  				</p>
				  			</div>
				  			
			  				<h4>Glenn Ricart</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/20130924-GR-headshot-1.jpg" class="callout__image">
								</div>
				  				<p>
				  					Glenn Ricart brings forty years of innovation in computer networking and related fields to US Ignite. Glenn is an Internet pioneer who implemented the first Internet interconnection point (the FIX in College Park, Maryland) and was recognized for this achievement by being inducted into the Internet Hall of Fame in August 2013.

				  				</p>
				  			</div>

				  			<h4>Leo Chalupa</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/chalupa.png" class="callout__image">
								</div>
				  				<p>
				  					Leo M. Chalupa became the George Washington University’s first vice president of research on April 1, 2009. He serves as GW’s chief research officer, charged with overseeing the strategic and operational development of GW’s rapidly growing research enterprise. An accomplished scientist and administrator, Dr. Chalupa comes to GW following a 34-year career at the University of California, Davis, most recently serving as the chair of neurobiology, physiology and behavior in the College of Biological Sciences.


				  				</p>
				  			</div>


				  			<h4>Tom Kalil</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/kalil.jpg" class="callout__image">
								</div>
								<p>
									Tom Kalil is the Deputy Director for Policy for the White House Office of Science and Technology Policy and Senior Advisor for Science, Technology and Innovation for the National Economic Council. From 2001 to 2008, Kalil was Special Assistant to the Chancellor for Science and Technology at the University of California at Berkeley. He was responsible for developing major new multi-disciplinary research and education initiatives at the intersection of information technology, nanotechnology, microsystems, and biology.


				  				</p>
				  			</div>

				  			<h4>France A. Córdova </h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/cordova.jpg" class="callout__image">
								</div>
				  				
				  				<p>
									France Córdova is the Director of the National Science Foundation (NSF). In that role, Córdova leads the only government science agency charged with advancing all fields of scientific discovery, technological innovation, and science, technology, engineering and mathematics (STEM) education. NSF's programs and initiatives keep the United States at the forefront of science and engineering, empower future generations of scientists and engineers, and foster U.S. prosperity and global leadership. Córdova is president emerita of Purdue University, where she served as president from 2007 to 2012. 
				  				</p>
				  			</div>

				  			<h4>Matt Erskine</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/erskine.jpg" class="callout__image">
								</div>
				  				<p>
				  					Matt S. Erskine was appointed by President Obama to serve as the Deputy Assistant Secretary of Commerce for Economic Development and Chief Operating Officer of the Economic Development Administration in September 2011. Mr. Erskine brings more than 20 years of leadership and management experience in business, public sector, and public-private partnerships. Prior to joining the Obama Administration and the Department of Commerce, he led the private-public partnership driving economic development and foreign direct investment for the 5th largest metropolitan region in the U.S. and worked in senior roles at global business consulting firms.

				  				</p>
				  			</div>

				  			<h4>Richard Culatta</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/culatta.jpg" class="callout__image">
								</div>
				  				<p>
				  					Richard Culatta is a leader in the field of educational innovation. He has experience in K-12, higher education, and workplace learning environments. As the Director of the Office of Educational Technology for the U.S. Department of Education, his work focuses on leveraging technology to create personalized learning experiences for all students and promoting increased connectivity to improve access to education and make college more affordable. Prior to joining the U.S. Department of Education, he served as an education policy advisor to U.S. Senator Patty Murray.

				  				</p>
				  			</div>

				  			<h4>Jim Kurose</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/kurose.jpg" class="callout__image">
								</div>
				  				<p>
				  					Jim Kurose serves as the head of the National Science Foundation’s Directorate for Computer and Information Science and Engineering (CISE). He received a B.A. degree in physics from Wesleyan University and a Ph.D. degree in computer science from Columbia University. He has served as Distinguished University Professor in the School of Computer Science at the University of Massachusetts Amherst. In addition, he has been a Visiting Scientist at IBM Research, INRIA, Institut EURECOM, the University of Paris, the Laboratory for Information, Network and Communication Sciences, and Technicolor Research Labs. 

				  				</p>
				  			</div>

				  			<h4>William Wallace</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/wallace.jpg" class="callout__image">
								</div>
				  				<p>
				  					William Wallace is Executive Director of US Ignite and brings to US Ignite more than 35 years of experience in the telecommunications industry, most recently as co-founder of DigitalBridge Communications (DBC), a venture-backed startup dedicated to bringing 4G broadband wireless services to underserved portions of the U.S.

				  				</p>
				  			</div>

				  			<h4>Niky Riga</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/riga.png" class="callout__image">
								</div>
				  				<p>
				  					Niky Riga is a Network Scientist for the GENI Project Office (GPO). Niky is responsible for supporting GENI users in integrating and deploying their experiments within the GENI infrastructure, and ensuring that the deployment makes the best use of GENI resources. Before joining the GPO in 2010, Niky worked on innovative projects within the Network Research department of BBN. Niky earned a Diploma in electrical and computer engineering at the National Technical University of Athens, and M.S. and Ph.D. degrees in computer science at Boston University.


				  				</p>
				  			</div>

				  			<h4>Akihiro Nakao</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/nakao.jpg" class="callout__image">
								</div>
				  				<p>
				  					Akihiro Nakao received his B.S. (1991) in physics and M.E. (1994) in information engineering from the  University of Tokyo. He was at IBM Yamato Laboratory, Tokyo Research Laboratory, and IBM Texas Austin from 1994 until 2005. He received a M.S. (2001) and Ph.D. (2005) in computer science from Princeton University. He has been teaching as an associate professor (2005-2014) and as a professor (2014-present) in Applied Computer Science at the Interfaculty Initiative in Information Studies within the Graduate School of Interdisciplinary Information Studies at the University of Tokyo.
				  				</p>
				  			</div>

				  			<h4>Chip Elliott</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/elliot.jpg" class="callout__image">
								</div>
				  				<p>
				  					Chip Elliott is GENI Futures Director. As Futures Director, he is responsible for planning “what comes after GENI,” with a mission to maximize the impact and adoption of GENI technology and concepts. He has been actively involved in GENI’s planning since early 2006 as a system engineer for the wireless group. As founding Project Director, Chip led the GENI community in bringing the project to fruition, building from early concept and design, through initial implementation phases, and eventually to its initial nationwide deployment.

				  				</p>
				  			</div>

				  			<h4>Steve Lohr</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/lohr.jpg" class="callout__image">
								</div>
				  				<p>
				  					Steve Lohr reports on technology, business and economics for the New York Times. He was a foreign correspondent for The Times for a decade and served brief stints as an editor, before covering technology, starting in the early 1990s. In 2013, he was part of the team awarded the Pulitzer Prize for Explanatory Reporting “for its penetrating look into business practices by Apple and other technology companies that illustrates the darker side of a changing global economy for workers and consumers.""

				  				</p>
				  			</div>

				  			<h4>Joseph J. Salvo</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/salvo.jpg" class="callout__image">
								</div>
				  				<p>
				  					Lev Gonick is co-founder and CEO of OneCommunity, which provides Internet services to anchor institutions throughout northeast Ohio. In 2011, Government Technology named Lev one of its “Top 25 Doers, Dreamers & Drivers in Public-Sector Innovation.” In the same year, Crain’s Business Cleveland named Gonick one of its “10 Difference Makers” in Northeast Ohio, and Broadband Properties honored him with its Cornerstone Award for “using fiber to build an inclusive society and empower individuals.” 
				  				</p>
				  			</div>

			  				<h4>Lev Gonick</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/gonick.jpg" class="callout__image">
								</div>
				  				<p>
				  					Lev Gonick is co-founder and CEO of OneCommunity, which provides Internet services to anchor institutions throughout northeast Ohio. In 2011, Government Technology named Lev one of its “Top 25 Doers, Dreamers & Drivers in Public-Sector Innovation.” In the same year, Crain’s Business Cleveland named Gonick one of its “10 Difference Makers” in Northeast Ohio, and Broadband Properties honored him with its Cornerstone Award for “using fiber to build an inclusive society and empower individuals.” 
				  				</p>
				  			</div>

				  			<h4>Suzi Iacono</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/iacono.jpg" class="callout__image">
								</div>
				  				<p>
				  					Dr. Suzi Iacono is the National Science Foundation (NSF) deputy assistant director for CISE. During her tenure at NSF, she has served in many capacities, including CISE senior science advisor, acting division director in Computer and Network Systems (CNS) and Information and Intelligent Systems (IIS), and Program Director in IIS. Dr. Iacono also currently serves as the co-chair of the interagency subcommittee on Networking Information Technology Research and Development (NITRD) under the National Science and Technology Council (NSTC).
				  				</p>
				  			</div>

				  			<h4>Craig Partridge</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="../img/staff/partridge.jpg" class="callout__image">
								</div>
				  				<p>
				  					Dr. Craig Partridge is a Chief Scientist at Raytheon BBN Technologies and works in the Internetwork Research Department. Craig has worked on internetworking problems at BBN since 1983. Notable bits of work include designing how Internet email is routed, working with Phil Karn on TCP round-trip time estimation, and designing and building the world's fastest router in the mid-1990s. Craig has been an active member of ACM SIGCOMM and the IEEE Communications Society and chaired the National Research Council committee on how the Internet functioned on September 11, 2001.
				  				</p>
				  			</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="demos" >
  							<ul class="list">
	  							<li><strong>Education Focus: Mars Rover game in the mathematics classroom </strong> - The Mars Rover Game is a collaborative interactive environment that teaches math and programming in a fun and rewarding 3D gaming experience.</li>

	  							<li><strong> Public Safety Focus: Connected Vehicles Assisting First Responders</strong> - The importance of first response units in time-critical emergency situations for saving lives cannot be understated. This demonstration showcases a vehicle that gets into a road incident and is disabled. Using various research innovations, Professor Suman Banerjee’s research at the University of Wisconsin-Madison focuses on assisting first responders in their lifesaving activities.
</li>

								{#
	  							<li><strong> Ambient Demos</strong> - </li>
	  							#}

	  							<li><strong> Software Defined Exchange and Infrastructure (SDX & SDI)</strong> - The Software Defined Exchange (SDX) is a recently defined concept that is motivated by the need for applications to dynamically acquire and control network, computation and storage resources. An SDX is a meeting place where resource owners (e.g., cloud or network operators) advertise the availability of their wares and where applications go to identify, pay for and acquire resources to support their needs. These needs may change over time, and the SDX supports such dynamic reconfiguration. In effect, the SDX allows applications to acquire a software defined “slice” of the Internet and resources that are connected to it. It is a traditional market bringing together sellers and buyers of goods. Its availability will democratize the ability of new applications to compete in a variety of markets served by different resource providers. The SDX, together with “slicing” and “software defined infrastructure,” have the potential to revolutionize the Internet and to enable an exciting new generation of applications.</li>

	  							{#
	  							<li><strong> Science DMZ as a Service: Creating Science Super-Facilities with GENI</strong> - </li>
								#}

	  							<li><strong> Picturing Pollution Globally and Locally</strong> - Researchers from the University of Texas at Dallas will demonstrate a system – enabled by GENI and US Ignite – that combines 50 massive NASA remote sensing datasets with Earth System modeling products to provide an accurate global map of atmospheric aerosols through a distributed, collaborative visualization system. City officials and planners can relate these maps to their local policy decisions and sources of pollution and conduct retrospective environmental impact assessments.</li>


								<li><strong> Predicting a Storm’s Landfall and Impact</strong> - Helping residents in North Carolina forecast and predict storms for coastal North Carolina waters. The project covers a range of coastal oceanographic and engineering problems, including regional and local tidal phenomena and coupled storm surge and wave hindcasts to identify storm surge and flooding hazards.</li>


								<li><strong> Vehicular Sensing and Control </strong> - In this demo, two vehicles equipped with virtualized vehicular sensing and control (VSC) platforms are collecting real time sensing data while driving around Detroit midtown. Through the WSU GENI WiMAX network and GENI VLAN, the sensed data are sent to different users for various experiments, emulations, or real-world applications such as vehicle fuel economy sensing, and real-time 3D image reconstruction. In particular, we will demonstrate that VSC network emulation executes in ExoGENI racks to show the impact of novel solutions from NSF-funded research on reliable, real-time wireless communication.</li>


								<li><strong> Gigabit-networked microscopy used to create a cross-country learning environment</strong> - USC is partnering with a STEM high school in Chattanooga and using gigabit networks to send high-definition 4K images of microorganisms directly into a Biology class. This gives students live access to researchers and  microscopic images, observations, and knowledge, while also enabling them to manipulate the microscope from 1,800 miles away.
</li>

								{#
								<li><strong> DMS/EODN </strong> - </li>
								#}

								<li><strong> SDX Bioinformatics</strong> - Has established a first-of-its-kind comprehensive computational facility, the Genomic Data Commons (GDC), to store and harmonize large scale genomic data generated through National Cancer Institute-funded research programs. This will significantly expand access to major data resources for scientists around the country to accelerate research and will enhance collaboration, leading to faster therapeutic discoveries for patients.</li>


  							</ul>	  				
  						</div>
  						<!-- end [data-section-name] -->
  					</div>
  					<!-- end .tab-content -->
  				</div>
  				<!-- .tabs-container -->
  			</div>
  		</div>
  		<!-- end .row -->

  		<!-- TEMPLATE MARKUP FOR MOBILE TABS
  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="mobile-tabs-container">
  					<div class="tabs">
  						<div>
  							<a href="#" class="handle" data-section="description">Description <div class="close">&#215;</div></a>
  							<div data-section-name="description" class="tab-content active">
  								TAB CONTENT HERE
  							</div>
  						</div>
  						
  				</div>
  			</div>
  		</div>
		-->

  		<div class="row">
	  		<div class="share-buttons">
		  		<h2 class="center">Share This Event</h2>
		  		<a href="http://twitter.com/intent/tweet?text=App Summit 2015&url=http://smartfuture2015.com&utm_source=TWSH" class="share-button twitter"> 
					<span class="icon-uniE608"></span> 
				</a>
				<a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
					<span class="icon-uniE607"></span> 
				</a>
				<a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
					<span class="icon-googleplus"></span> 
				</a>
	  		</div>
  		</div>
  		<!-- end .row -->

  	</div>
  	<!-- end .march-2015-splash -->




  	<!-- footer -->
  	<footer class="footer">
  		{#
  		<p class="center sponsors-partners">PARTNERS:</p>

  		<div class="row">
  			<div class="carousel small-10 small-centered columns">
  				<div><img src="../images/amazon.png" /></div>
  				<div><img src="../images/cenic.png" /></div>
  				<div><img src="../images/charlesstewartmott.png" /></div>
  				<div><img src="../images/cisco.png" /></div>
  				<div><img src="../images/comcast.png" /></div>
  				<div><img src="../images/epb.png" /></div>
  				<div><img src="../images/extreme-networks.png" /></div>
  				<!-- <div><img src="images/google-fiber.png" /></div> -->
  				<div><img src="../images/hp.png" /></div>
  				<div><img src="../images/internet2.png" /></div>
  				<div><img src="../images/jdsu.png" /></div>
  				<div><img src="../images/juniper.png" /></div>
  				<div><img src="../images/lafayette.png" /></div>
  				<div><img src="../images/lakenona.png" /></div>
  				<div><img src="../images/lit.png" /></div>
  				<div><img src="../images/merit.png" /></div>
  				<div><img src="../images/mozilla.png" /></div>
  				<div><img src="../images/orange.png" /></div>
  				<div><img src="../images/sanleandro.png" /></div>
  				<div><img src="../images/verizon.png" /></div>
  				<div><img src="../images/wilson.png" /></div>
  				
  			</div>
  		</div>
  		<div class="footer-separator"></div>
		#}
  		<div class="hide-for-medium-up">
  			<p class="center sponsors-partners">FOLLOW US</p>
  			<div class="footer-social">
  				<a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus"></span></a>
  			</div>

  			<p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

  			<p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
  			<br>
  		</div>

  		<p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved</p>
  	</footer>
  	<!-- /footer -->
{% endblock %}
