{% extends "layouts/master.twig" %}

{% block content %}
  	<div class="march-2015-splash">

  		<div class="social-bar show-for-medium-up">
  			<div class="row">
  				<div class="columns small-12">
  					<ul class="inline-list quicklinks__list right splash">
  						<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
  						<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
  						<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
  						<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<!-- end .social-bar -->

  		<div class="logos-bar">
  			<div class="row">
  				<div class="small-10 columns small-centered columns medium-6">
  					<img src="../img/us_ignite-geni-nsf.png" />
  				</div>
  			</div>
  		</div>
  		<div class="header-image"></div>

  		<div class="row">
  			<div class="columns small-12">
  				<h1 class="event-title">Beyond Today's Internet: Experiencing a Smart Future!</h1>
  			</div>

  		</div>

  		<div class="row">
  			<div class="columns small-12 center">
  				<span class="button register">#smartfuture2015</span>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-9 medium-centered">
  				<div class="fluid-vid">
  					<!--<iframe src="http://player.theplatform.com/p/IfSiAC/pBuLP3XrNek2/embed/select/50iAcefYPneC?form=html" width="800" height="450" frameBorder="0" seamless="seamless" allowFullScreen></iframe>-->
                    <iframe src="http://new.livestream.com/accounts/12685981/events/3903352/player?width=560&height=315&autoPlay=true&mute=false" width="800" height="450" frameborder="0" scrolling="no"> </iframe>
  				</div>
  			</div>

  		</div>

  		<!-- end .row -->

  		<div class="row">
	  		<div class="share-buttons">
		  		<h2 class="center">Share This Event</h2>
		  		<a href="http://twitter.com/intent/tweet?text=App Summit 2015&url=http://smartfuture2015.com&utm_source=TWSH" class="share-button twitter"> 
					<span class="icon-uniE608"></span> 
				</a>
				<a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
					<span class="icon-uniE607"></span> 
				</a>
				<a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
					<span class="icon-googleplus"></span> 
				</a>
	  		</div>
  		</div>
  		<!-- end .row -->

  	</div>
  	<!-- end .march-2015-splash -->

  	<!-- footer -->
  	<footer class="footer">
  		{#
  		<p class="center sponsors-partners">PARTNERS:</p>

  		<div class="row">
  			<div class="carousel small-10 small-centered columns">
  				<div><img src="../images/amazon.png" /></div>
  				<div><img src="../images/cenic.png" /></div>
  				<div><img src="../images/charlesstewartmott.png" /></div>
  				<div><img src="../images/cisco.png" /></div>
  				<div><img src="../images/comcast.png" /></div>
  				<div><img src="../images/epb.png" /></div>
  				<div><img src="../images/extreme-networks.png" /></div>
  				<!-- <div><img src="images/google-fiber.png" /></div> -->
  				<div><img src="../images/hp.png" /></div>
  				<div><img src="../images/internet2.png" /></div>
  				<div><img src="../images/jdsu.png" /></div>
  				<div><img src="../images/juniper.png" /></div>
  				<div><img src="../images/lafayette.png" /></div>
  				<div><img src="../images/lakenona.png" /></div>
  				<div><img src="../images/lit.png" /></div>
  				<div><img src="../images/merit.png" /></div>
  				<div><img src="../images/mozilla.png" /></div>
  				<div><img src="../images/orange.png" /></div>
  				<div><img src="../images/sanleandro.png" /></div>
  				<div><img src="../images/verizon.png" /></div>
  				<div><img src="../images/wilson.png" /></div>
  				
  			</div>
  		</div>
  		<div class="footer-separator"></div>
		#}
  		<div class="hide-for-medium-up">
  			<p class="center sponsors-partners">FOLLOW US</p>
  			<div class="footer-social">
  				<a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus"></span></a>
  			</div>

  			<p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

  			<p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
  			<br>
  		</div>

  		<p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved</p>
  	</footer>
  	<!-- /footer -->
{% endblock %}